<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Task Manager</title>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <style>
        #task-list {
            list-style-type: none;
        }
        .completed { text-decoration: line-through; }
    </style>
</head>
<body>
    <h1>Task Manager</h1>
    <form hx-post="/add-task" hx-target="#task-list" hx-swap="outerHTML">
        <input type="text" name="content" placeholder="New task" required>
        <button type="submit">Add Task</button>
    </form>
    <div id="task-list">
        {{template "task-list" .}}
    </div>

    {{define "task-list"}}
    <ul id="task-list">
        {{range .}}
        <li>
            <span class="{{if .Completed}}completed{{end}}" hx-post="/toggle-task" hx-target="#task-list" hx-swap="outerHTML" hx-vals='{"id": {{.ID}}}'>
                {{.Content}}
            </span>
            <button hx-post="/delete-task" hx-target="#task-list" hx-swap="outerHTML" hx-vals='{"id": {{.ID}}}'>
                Delete
            </button>
        </li>
        {{end}}
    </ul>
    {{end}}
</body>
</html>
